@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "fonts";





.header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}
.header-top__list {
    display: flex;
    justify-content: space-between;
    a {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

    }
    li + li {
        margin-left: 63px;
    }
}
.header-top__contact {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid $gold;
}
.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 207px;
}
.header-content__info {
    max-width: 540px;
    width: 100%;
    margin-top: 100px;
}
.header-content__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.header-content__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.header-slider {
    max-width: 370px;
}
.slick-btn {
    position: absolute;
    bottom: -50px;
    color: #fff;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    width: 108px;
}
.nav-button {
    display: flex;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
    }
}
.arrow-next {
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &::before {
        content: "";
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 49%;
        right: 0;
        transform: rotate(45deg) translateY(-4px);
    }
    &::after {
        content: "";
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(-45deg) translateY(4px);
    }
}
.arrow-prev {
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    &::before {
        content: "";
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 49%;
        left: 0;
        transform: rotate(-45deg) translateY(-4px);
    }
    &::after {
        content: "";
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(45deg) translateY(4px);
    }
}
.slick-btn.slick-next {
    right: 0;
}
.slick-btn.slick-prev {
    left: 0;
    span {
        padding-left: 52px;
    }
}
.about__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.about__block-left {
    max-width: 445px;
}
.about__block-middle {
    max-width: 255px;
}
.about__block-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about__block-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.about__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 160px;
    margin-bottom: 100px;
}
.about__block-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        margin-top: 15px;
        margin-bottom: 15px;

    }
}
.productions {
    margin-bottom: 150px;
}
.productions__title,
.partners__title,
.maecenas__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.productions__slider-item {
    max-width: 532px;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.productions__slider .slick-current .productions__slider-inner {
    background: rgba(#1C2121, .3);
    .productions__slider-search {
        display: block;
    }
    .productions__slider-title {
        display: none;
    }
    .productions__slider-date {
        display: none;
    }
}
.productions__slider {
    margin-left: 250px;
}
.productions__slider-inner {
    position: relative;
    max-width: 532px;
    min-height: 550px;
    width: 100%;
    background: rgba(#1C2121, .85);
    &:hover {
        background: rgba(#1C2121, .3);
        cursor: pointer;
        .productions__slider-search {
            display: block;
        }
        .productions__slider-title {
            display: none;
        }
        .productions__slider-date {
            display: none;
        }
    }
}
.productions__slider-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: $gold;
    border-radius: 50%;
    display: none;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.productions__slider-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 40px;
}
.productions__slider-date {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
    left: -10px;
    bottom: 80px;
}
.rate {
    margin-bottom: 150px;
}
.rate-block {
    background-image: url(../img/rate-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    display: flex;
    padding: 126px 95px 126px 190px;
}
.rate-block__left {
    display: flex;
    flex-direction: column;
    margin-right: 103px;
    span {
        font-weight: 700;
        font-size: 72px;
        line-height: 98px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}
.rate-block__right {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    padding-top: 45px;
    &-images {
        display: flex;
        margin-bottom: 25px;
        img {
            margin-right: 25px;
        }
    }
    &-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
    }
}
.partners {
    margin-bottom: 150px;
}
.partners__logos {
    max-width: 1034px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.partners__logos-top,
.partners__logos-bottom {
    img + img {
        margin-left: 74px;
    }
}
.partners__logos-top {
    margin-bottom: 80px;
}
.maecenas {
    margin-bottom: 80px;
}
.maecenas__block {
    display: flex;
    justify-content: space-between;
}
.maecenas__contacts {
    max-width: 255px;
    a {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
}
.maecenas__form {
    max-width: 730px;
}
.input-box {
    display: flex;
    div + div {
        margin-left: 30px;
    }
    div {
        width: 180px;
        input {
            width: 180px;
            height: 35px;
            background: #444444;
            border: 1px solid #616161;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #989898;
            padding: 0 23px 0 15px;
            outline: none;
        }
        input + input {
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }
}
textarea {
    width: 310px;
    height: 100px;
    resize: none;
    margin-left: 30px;
    background: #444444;
    border: 1px solid #616161;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    padding: 9px 15px;
    outline: none;
}
.button-box {
    display: flex;
    justify-content: space-between;
    &__text {
        max-width: 390px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #989898;
    }
    button {
        max-width: 190px;
        width: 100%;
        height: 50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: $gold;
        color: #fff;
        border-style: none;
        &:hover {
            cursor: pointer;
        }
    }
}
.footer {
    margin-bottom: 30px;
}
.footer__block {
    width: 100%;
    height: 48px;
    border-top: 1px solid #565656;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    span {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #989898;
    }
}










@import "media";
